<?xml version="1.0"?>
<configuration>
  
  <configSections>
    <section name="Environments" type="Just, to"/>
  </configSections>

  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="configConsoleListener"
          type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MetadataBehavior">
          <serviceMetadata />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" />
    <services>
      <service behaviorConfiguration="MetadataBehavior" name="NadaConfigService.NadaConfigService">
        <host>
          <baseAddresses>
            <add baseAddress = "net.tcp://localhost:8081/" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="CustomBinding" contract="NadaConfigService.INadaConfigService" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="CustomBinding">
          <security mode="None">
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>

  <Environments>
    <Environment name="Production">
      <Sections>
        <Section name="Database">
          <Item name="test" value="123" />
          <Item name="test1" value="123" />
          <Item name="test3" value="123" />
          <Item name="test5" value="123" />
          <Item name="test7" value="123" />
        </Section>
        <Section name="Server">
          <Item name="test" value="toto"/>
        </Section>
      </Sections>
    </Environment>
    <Environment name="Test">
      <Sections>
        <Section name="Database">
          <Item name="test" value="1234" />
          <Item name="test8" value="1236" />
          <Item name="test9" value="1238" />
          <Item name="test10" value="1239" />
          <Item name="test11" value="1230000" />
        </Section>
        <Section name="Server">
          <Item name="test" value="toto"/>
        </Section>
      </Sections>
    </Environment>
  </Environments>


</configuration>
